<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html class='uk-section-secondary'>
  {{> head}}
  <body class="uk-background-secondary uk-section-secondary">
  <section class="section uk-padding-large ">
    <div class="uk-text-center">
                                            <h1>Oof.</h1>
                                            <p class="uk-text-large">{{error}}</p>
      <p>{{flavortext}}</p>
                                        </div>
  </section>
  </body>
</html>